<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register & Login</title>
    <link rel="stylesheet" href="../static/adminlogin.css">
    

</head>
<body>
    <div class="login-container" id="signIn">
        <div class="login-card">
            <h1 class="title">Admin</h1>
            {%if msg %}
            <script> alert('{{ msg }}'); </script>
            {% endif %} 
            <form method="post" action="{{ url_for('adminlogin') }}">
                <div class="input-group">
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <label for="password">Password</label>
                </div>
                <input type="submit" class="btn" value="Sign In" name="signIn">
            </form>
        </div>
    </div>
</body>
</html>