<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Your Store</title>
    <link rel="stylesheet" href="../static/logOp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login">
        <div class="loginBord">
            <h1 class="logintitle">Login as:</h1>
            <div class="loginbuttons">
                <a href="/login" class="btnroles customer-btn">
                    <span class="btn-text">Customer</span>
                </a>
                <a href="/admin-login" class="btnroles admin-btn">
                    <span class="btn-text">admin</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>