<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register & Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    

</head>
<body>
<div class="container" id="signIn">
        <h1 class="form-title">Sign In</h1>
        {%if msg %}
        <script> alert('{{ msg }}'); </script>
        {% endif %} 
        <form method="post" action="{{ url_for('login') }}">
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <label for="email">Email</label>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <label for="password">Password</label>
            </div>
            <input type="submit" class="btn" value="Sign In" name="signIn">
        </form>
        <p class="or">----------or--------</p>
        <div class="links">
            <p>Don't have account yet?</p>
            <form action="{{ url_for('signup') }}">
            <button id="signUpButton">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>